:root {
  --c-brnd: #2e2f42;
  --c-logo: #4d5ae5;
  --c-contact: #434455;
  --c-header-active: #404bbf;
  --c-text-light: #fff;
  --c-text-footer: #f4f4fd;
  --c-bg-thirt: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--c-contact);
  background-color: var(--c-text-light);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* header */
.logo {
  color: var(--c-logo);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent-dark {
  color: var(--c-brnd);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-link {
  color: var(--c-brnd);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:focus {
  color: var(--c-header-active);
}

.nav-link-style {
  color: var(--c-brnd);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link-style:hover {
  color: var(--c-header-active);
}

.nav-link-style:active {
  color: var(--c-header-active);
}

.nav-link-style:focus {
  color: var(--c-header-active);
}

.nav-contact {
  color: var(--c-contact);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.nav-contact:hover {
  color: var(--c-header-active);
}

.nav-contact:active {
  color: var(--c-header-active);
}

.nav-contact:focus {
  color: var(--c-header-active);
}

.contact-style {
  font-style: normal;
}

/* section fist*/
.main-section {
  background-color: var(--c-brnd);
  /* flex-shrink: 0; */
}

.hero-title {
  color: var(--c-text-light);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  color: var(--c-text-light);
  background-color: var(--c-logo);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--c-header-active);
}

.hero-button:focus {
  background-color: var(--c-header-active);
}

/* section secondary */
.visually-hidden {
  color: var(--c-brnd);
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-text {
  color: var(--c-brnd);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.par-text {
  color: var(--c-contact);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section thirt */
.bgcolor-section-thirt {
  background-color: var(--c-text-footer);
}

.bgcolor-for-team {
  background-color: var(--c-bg-thirt);
}

.title-section-thirt {
  color: var(--c-brnd);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.title-people-prod {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.title-about {
  color: var(--c-contact);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */
.main-footer {
  background-color: var(--c-brnd);
  height: 312px;
  /* flex-shrink: 0; */
}

.footer-text {
  color: var(--c-text-footer);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo-accent-secondary {
  color: var(--c-text-footer);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
